.body{
    background-color: #CCFFFF;
}

.Menu{
    display: flex;
    
    justify-content: right;
    background-color: #505050;
    height: 100px;
    width: 1250px;
}

.butn{
    background-color: #000000;
    color: #FFFFFF;
    width: 100px;
}

.butn:hover{
    background-color: #FFFFFF;
    color:#000000;
}

.butn:active{
    background-color: #D80000;
    color: #FFFF00;
}